*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vazirmatn', sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
    background: #e7e7e7;
}

.content {
    margin: 20px;
}

/* flex*/

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item {
    padding: 20px;
    flex: 50%;
    margin: 5px;
    border-radius: 5px;
}

.flex-item i, h2{
    color: white;
    font-size: 32pt;
}

.flex-item p{
    color: white;
}

.flex-red {background-color: lightblue;}
.flex-black {background-color: lightcoral;}
.flex-reddark {background-color: lightslategray;}
.flex-red-late {background-color: chocolate;}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.btn {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px;
    border-radius: 5px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn2 {
    background-color: #A10035;
}

#mahasiswa {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#mahasiswa td, #mahasiswa th {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

#mahasiswa th {
    padding: 20px;
    text-align: left;
    background-color: #111;
    color: aliceblue;
}

#mahasiswa tr:nth-child(even) {
    background-color: white;
}

.form-add {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    font-weight: bold;
}

input[type=text],
input[type=number],
input[type=file],
input[type=date],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: palevioletred;
}

input[type=submit] {
    width: 100%;
    background-color: palevioletred;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 15px 0;
}

.check-container {
    display: block;
    margin: 10px;
}